*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    font-size:20px;
    margin:10%;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

header {
    padding: 20px;
    background-color: #0f76aa;
    color: rgb(255, 255, 255);
    font-size: 48px;
    overflow:hidden;
}
header h1{
    text-align: center;
    display: block;
    font-size: 48px;
}

header nav{
    display:inline;
    margin-top: 48px;
    margin-right: 5%;
}
header nav a {
    background-color: #0f76aa;
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin:9%;
}
header h1:hover span{
    display:none;
}
header h1:hover:before {
    font-size: 48px;
    content: "{Francis Jung}";
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
section{
    display: inline-block;
    margin-bottom: 25px;
}

#About-Me{
    position: relative;
}
#About-Me-Bio h1 {
    text-align: center;
}
#portrait{
    margin: 25px;
    margin-left: 50px;
}
#About-Me-Photo{
    width:50%;
}
#About-Me-Bio{
    width:50%;
}

#Featured{
    position: relative; 
}
#Featured-info h1 {
    text-align: center;
}
#Featured-info{
    display:inline;
    width:50%;
}
#featured-photo{
    width:50%;
}
.Section-button{  
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
    display: block;
    margin:auto;
}

#Projects{
    display: inline;
    position: relative;
    text-align: center;
}
#Project-Div{
    display:flex;
    flex-direction: row;
}
#Project-Div span{
    max-width: 24%;
    margin: 2%;
}
.Project-Preview{
    max-width: 100%;

}

#Contact{
    position: relative;
}
#Contact-Div{
    margin: auto;
    text-align: center;
}
@media screen and (max-width: 768px) {
   header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
   }
  }
  